# AWS Configuration
AWS_DEFAULT_REGION=ap-southeast-2
S3_BUCKET_NAME=sowmya-rds-project-116584140802-ap-southeast-2-an

# RDS Database Configuration
RDS_HOST=your-rds-endpoint.amazonaws.com
RDS_PORT=5432
RDS_DB_NAME=superstore_db
RDS_USER=postgres
RDS_PASSWORD=your_secure_password
