# Virtual Environment
.venv/
venv/
ENV/

# Environment Variables (Secrets)
.env

# Python Cache
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# IDEs and Editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# Local Data files (avoid uploading massive CSVs, raw is okay if small, but let's keep processed local files out of git)
data/processed/*
!data/processed/.gitkeep
